<div class="footer">
    <a class="type wx" ng-click="title='1'" ng-class="{active:title==='1'}" href="#/weixin">
    	<div class="wx-img"></div>
    	<span>微信</span>
    </a>
    <a class="type txl" ng-click="title='2'" ng-class="{active:title==='2'}" href="#/tongxunlu">
    	<div class="txl-img"></div>
    	<span>通信录</span>
    </a>
    <a class="type fx" ng-click="title='3'" ng-class="{active:title==='3'}" href="#/faxian">
    	<div class="fx-img"></div>
    	<span>发现</span>
    </a>
    <a class="type me" ng-click="title='4'" ng-class="{active:title==='4'}" href="#/wo">
    	<div class="me-img"></div>
    	<span>我</span>
    </a>
</div>