<!-- 发现 -->
<div class="four-box">
    <div class="four" ng-show="title==='3'" >
    	<div class="gn">
			<div class="gn-center">
				<div class="float pyq-icon"></div>
				<div class="float icon-font"><b>朋友圈</b></div>
			</div>
		</div>

	    <div class="gn">
	    	<div class="gn-center">
				<div class="float sys-icon"></div>
				<div class="float icon-font"><b>扫一扫</b></div>
			</div>
		</div>
		<div class="gn gn1">
			<div class="gn-center">
				<div class="float yyy-icon"></div>
				<div class="float icon-font"><b>摇一摇</b></div>
			</div>
		</div>

		<div class="gn">
			<div class="gn-center">
				<div class="float fjdr-icon"></div>
				<div class="float icon-font"><b>附近的人</b></div>
			</div>
		</div>
		<div class="gn gn1">
			<div class="gn-center">
				<div class="float plp-icon"></div>
				<div class="float icon-font"><b>漂流瓶</b></div>
			</div>
		</div>

		<div class="gn">
			<div class="gn-center">
				<div class="float gw-icon"></div>
				<div class="float icon-font"><b>购物</b></div>
			</div>
		</div>
		<div class="gn gn1">
			<div class="gn-center">
				<div class="float yx-icon"></div>
				<div class="float icon-font"><b>游戏</b></div>
			</div>
		</div>
    </div>
</div>