<!-- 我 -->
<div class="four-box">
    <div class="four" ng-show="title==='4'" >
    	<div class="myself">
			<div class="touxiang_me"></div>
			<div class="jieshao">
				<span class="name">佩</span>
				<span class="num">微信号：435933984</span>
			</div>
			<div class="ewm"></div>
		</div>

		<div class="gn_me">
	    	<div class="gn-center">
				<div class="float xc-icon"></div>
				<div class="float icon-font"><b>相册</b></div>
			</div>
		</div>
		<div class="gn_me gn1">
			<div class="gn-center">
				<div class="float sc-icon"></div>
				<div class="float icon-font"><b>收藏</b></div>
			</div>
		</div>

		<div class="gn_me">
	    	<div class="gn-center">
				<div class="float qb-icon"></div>
				<div class="float icon-font"><b>钱包</b></div>
			</div>
		</div>
		<div class="gn_me gn1">
			<div class="gn-center">
				<div class="float kb-icon"></div>
				<div class="float icon-font"><b>卡包</b></div>
			</div>
		</div>

		<div class="gn_me">
	    	<div class="gn-center">
				<div class="float bq-icon"></div>
				<div class="float icon-font"><b>表情</b></div>
			</div>
		</div>

		<div class="gn_me">
	    	<div class="gn-center">
				<div class="float sz-icon"></div>
				<div class="float icon-font"><b>设置</b></div>
			</div>
		</div>
    </div>
</div>
	