 <div class="toubu">
 	<!-- <div id="zhuangtai"></div> -->
	<div class="header">
		<div class="weixin">微信(112)</div>
		<div class="icons">
			<div class="icon-search"></div>
			<div class="icon-add" ng-click="show=!show"></div>
		</div>
	</div>


	<div class="add_hide" ng-show="show">
		<div class="add_hide_list">
			<div class="add_hide_img fqql"></div>
			<div class="add_hide_font">发起群聊</div>
		</div>
		<div class="add_hide_list">
			<div class="add_hide_img tjpy"></div>
			<div class="add_hide_font">添加朋友</div>
		</div>
		<div class="add_hide_list">
			<div class="add_hide_img sys_hide"></div>
			<div class="add_hide_font">扫一扫</div>
		</div>
		<div class="add_hide_list">
			<div class="add_hide_img sfk"></div>
			<div class="add_hide_font">收付款</div>
		</div>
		<div class="add_hide_list">
			<div class="add_hide_img bz"></div>
			<div class="add_hide_font">帮助与反馈</div>
		</div>
	</div>
 </div> 

   